.inputs{
width: 100%;
}
.form-div{
  width: 50%;
  /* border: 1px solid black; */
  margin: auto;
}



.input-container{
  margin-bottom: 1rem;
}

label{
  color: rgb(4, 107, 147);
  font-weight: bold;
  
}

input{
  border-radius: 0.3rem;
  border-color: skyblue;
  border-style: solid;
}



.password-container{
  background-color: goldenrod;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color:whitesmoke;
  margin-bottom: 0.5rem;
}

button{
  margin-bottom: 1rem;
}

/* tooltip */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  z-index: 100;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}