.inputs{
width: 100%;
}
.form-div{
  width: 50%;
  /* border: 1px solid black; */
  margin: auto;
}

.main{
  /* border: 1px solid goldenrod; */
}

.input-container{
  margin-bottom: 1rem;
}

label{
  color: rgb(4, 107, 147);
  font-weight: bold;
  
}

input{
  border-radius: 0.3rem;
  border-color: skyblue;
  border-style: solid;
}

.password-display-container{
 /* background-color: whitesmoke; */
}

.password-container{
  background-color: goldenrod;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color:whitesmoke;
  margin-bottom: 0.5rem;
}

button{
  margin-bottom: 1rem;
}